/* Root */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Nav */
nav {
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: #646E78;
    padding: 10px;
}

/* Grid */

#container {
    display: grid;
    border: 2px solid red;
    grid-area: 
    
}